<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Error page_not_found</title>
    <link href="/static/style.css" rel="stylesheet"></link>
    <link rel="shortcut icon" href="static/favicon.ico">
  </head>
  <body>
    <div id="header">
            <p>
                <a href="/" >Presence</a>
						</p>
		</div>
    <p>
      Something went wrong.
    </p>
    <p>
      It seems like that Byakushiki hasn't added this site yet or that you want a not existing page.
    </p>
    <p>
      If there is any problem with the programm open an issue at <a href="https://github.com/Chaostheorie/VKS-Development/issues" style="color: black; 	text-decoration: underline;" >Github</a>.
    </p>
  <footer>
  	<p>Contact information: <a href="https://github.com/Jugendhackt/VKS">Github</a></p>
		<p>License: <a href="https://github.com/Jugendhackt/VKS/blob/master/LICENSE">GNU Affero General Public License v3.0</a></p>
	</footer>
  </body>
</html>
