<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Terms</title>
    <link href="/static/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="static/favicon.ico">
  </head>
  <body>
    <div id="header">
        <p>
            <a href="/" >Presence</a>
				</p>
    </div>
{% for term in list %}
  <div class="grid-container">
    <div id="term_name">
      <p>
        {{ term['name'] }}
      </p>
    </div>
    <div id="term_date">
      <p>
        {{ term['date'] }}
      </p>
    </div>
    <div id="term_desc">
      <p>
        {{ term['content'] }}
      </p>
    </div>
    <p>
      <center><form action="edit-term-load" method="post"><input type="submit" name="{{ term['name'] }}" value="Edit term"></form></center>
    </p>
{% endfor %}
    <footer>
      <p>Create own term: <a href="/term-editor">Editor</a></p>
  	  <p>Contact information: <a href="https://github.com/Jugendhackt/VKS">Github</a></p>
		  <p>License: <a href="https://github.com/Jugendhackt/VKS/blob/master/LICENSE">GNU Affero General Public License v3.0</a></p>
	  </footer>
  </body>
</html>
