<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Broadcast</title>
    <link href="/static/style.css" rel="stylesheet"></link>
    <link rel="shortcut icon" href="static/favicon.ico">
  </head>
  <body>
    <div id="header">
            <p>
                <a href="/" >Presence</a>
						</p>
		</div>
    <table>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Time</th>
      <th>Author</th>
      <th>Content</th>
    <tr>

    {% for entry in entrys %}
            <tr>
                <td>{{ entry['name'] }}</td>
                <td>{{ entry['date'] }}</td>
                <td>{{ entry['time'] }}</td>
                <td>{{ entry['author'] }}</td>
                <td>{{ entry['content'] }}</td>
            </tr>
		 {% endfor %}
    <footer>
      <p>Create own Entry: <a href="/entry-create" >Editor</a>
  	  <p>Contact information: <a href="https://github.com/Jugendhackt/VKS">Github</a></p>
		  <p>License: <a href="https://github.com/Jugendhackt/VKS/blob/master/LICENSE">GNU Affero General Public License v3.0</a></p>
	  </footer>

  </body>
</html>
