<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="overview" charset="utf-8">
    <title>Overview</title>
    <link href="/static/style.css" rel="stylesheet"></link>
    <link rel="shortcut icon" href="static/favicon.ico">
  </head>
  <body>
    <div id="header">
      <p>
          <a href="/"> Presence </a>
      </p>
    </div>
{% for class in list %}
    <p>
      <a href="{{ class['location'] }}" class="button"> {{ class['name'] }}  </a>
    </p>
{% endfor %}
  <footer>
  	<p>Contact information: <a href="https://github.com/Jugendhackt/VKS">Github</a></p>
		<p>License: <a href="https://github.com/Jugendhackt/VKS/blob/master/LICENSE">GNU Affero General Public License v3.0</a></p>
	</footer>
  </body>
</html>
