<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Roadmap</title>
    <link rel="shortcut icon" type="image/png" href="favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div id="header">
            <p>
                <a href="/" >Presence</a>
						</p>
    </div>
    <p>
            - absence plan
            - multilanguage support
            . ducumentation
            - dark mode
            - style improvments
            - stable public test server
    </p>
    <footer>
    	<p>Contact information: <a href="https://github.com/Jugendhackt/VKS">Github</a></p>
  		<p>License: <a href="https://github.com/Jugendhackt/VKS/blob/master/LICENSE">GNU Affero General Public License v3.0</a></p>
    </footer>
  </body>
</html>
