<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Roadmap</title>
    <link rel="shortcut icon" href="static/favicon.ico"/>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <div id="header">
            <p>
                <a href="/" >Presence</a>
						</p>
    </div>
    <p>
      <lu>
            <li>- absence plan </li>
            <li>- multilanguage support </li>
            <li>- ducumentation </li>
            <li>- dark mode </li>
            <li>- style improvments </li>
            <li>- stable public test server </li>
      </lu>
    </p>
    <footer>
    	<p>Contact information: <a href="https://github.com/Jugendhackt/VKS">Github</a></p>
  		<p>License: <a href="https://github.com/Jugendhackt/VKS/blob/master/LICENSE">GNU Affero General Public License v3.0</a></p>
    </footer>
  </body>
</html>
