<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"  author="CByte"></meta>
    <link href="/static/style.css" rel="stylesheet"></link>
    <link rel="shortcut icon" href="static/favicon.ico">
    <title>Secretariat view</title>
  </head>
  <body>
		<div id="header">
            <p>
                <a href="/" >Presence</a>
            </p>
		</div>
    <p>
      <table>
	<tr>
		<th>Name</th>
		<th>Status</th>
    <th>Class</th>
	</tr>
{% for person in list %}
            <tr>
                <td>{{ person['name'] }}</td>
                <td>{{ person['status'] }}</td>
                <td>{{ person ['class'] }}
            </tr>
{% endfor %}
       </table>
    </p>
  <footer>
  	<p>Contact information: <a href="https://github.com/Jugendhackt/VKS">Github</a></p>
		<p>License: <a href="https://github.com/Jugendhackt/VKS/blob/master/LICENSE">GNU Affero General Public License v3.0</a></p>
	</footer>
   </body>
</html>
