<!DOCTYPE html>
<html lang="en" dir="ltr" >
	<head>
		<meta charset="utf-8">
		<link href="static/style.css" rel="stylesheet">
		<link rel="shortcut icon" href="static/favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>

		<div id="header">
            <p>
                <a href="/" >Presence</a>
						</p>
		</div>
    <a href="/teacher" class="button" >Teacher view</a>
		<a href="/sek" class="button" >Secretariat view</a>
		<div class="button"> Courses </div>
		<a href="/classes-overview" class="button" > Classes </a>
		<a href="/entry" class="button" > Broadcast </a>
    <a href="/calendar" class="button"> Terms </a>
		<a href="/roadmap" class="button" > Roadmap </a>
		<a href="/user-managment" class="button"> User managment </a>

  <footer>
  	<p>Contact information: <a href="https://github.com/Jugendhackt/VKS">Github</a></p>
		<p>License: <a href="https://github.com/Jugendhackt/VKS/blob/master/LICENSE">GNU Affero General Public License v3.0</a></p>
		<p>Mobile version: <a href="/start-mobile">Here</a></p>
		<p>Admin: <a href="/admin-managment">Log in</a></p>
	</footer>
	</body>
</html>
