<!DOCTYPE html>
<html>
<title>Start</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
<link rel="stylesheet" href="static/mobile-style.css">
<body style="max-width:600px">

<nav class="w3-sidebar w3-bar-block w3-card" id="mySidebar">
<div class="w3-container w3-theme-d2">
  <span onclick="closeSidebar()" class="w3-button w3-display-topright w3-large">X</span>
  <br>
</div>
<a class="w3-bar-item w3-button" href="/teacher">Teacher</a>
<a class="w3-bar-item w3-button" href="#">Friends</a>
<a class="w3-bar-item w3-button" href="#">Messages</a>
</nav>

<header class="w3-bar w3-card w3-theme">
  <button class="w3-bar-item w3-button w3-xxxlarge w3-hover-theme" onclick="openSidebar()">&#9776;</button>
  <h1 class="w3-bar-item"><a href="/start-mobile">Presence</a></h1>
</header>
<p class="w3-container w3-theme button style="text-decoration: none;">
<a href="/teacher">Teacher</a>
</p>
<footer class="w3-container w3-theme w3-margin-top" style="font-size: 2.5vw; position: fixed; left: 0; bottom: 0; width: 100%;">
  <p>Contact information: <a href="https://github.com/Jugendhackt/VKS">Github</a></p>
  <p>License: <a href="https://github.com/Jugendhackt/VKS/blob/master/LICENSE">GNU Affero General Public License v3.0</a></p>
  <p>Mobile version: <a href="/start-mobile">Here</a></p>
</footer>

<script>
closeSidebar();
function openSidebar() {
    document.getElementById("mySidebar").style.display = "block";
}
function closeSidebar() {
    document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
