<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"  author="CByte"></meta>
    <link href="/static/style.css" rel="stylesheet"></link>
    <title>Teacher view</title>
    <link rel="shortcut icon" href="static/favicon.ico">
  </head>
  <body>
		<div id="header">
            <p>
                <a href="/" >Presence</a>
            </p>
		</div>
    <p>
      <table>
	<tr>
		<th>name</th>
		<th>status</th>
		<th>status change</th>
	</tr>
<form action="change_state" method="post">
{% for person in list %}
            <tr>
                <td>{{ person['name'] }}</td>
                <td>{{ person['status'] }}</td>
		<td><input type="checkbox" name="{{ person['name'] }}" {% if person['status'] == "present"%}
                                                checked
                                        {% endif %}>
		</td>
            </tr>
{% endfor %}

       </table>
<input type="submit" name="send" value="send"></input>
</form>
    </p>
  <footer>
  	<p>Contact information: <a href="https://github.com/Jugendhackt/VKS">Github</a></p>
		<p>License: <a href="https://github.com/Jugendhackt/VKS/blob/master/LICENSE">GNU Affero General Public License v3.0</a></p>
	</footer>
   </body>
</html>
