<!DOCTYPE html>
<html lang="de" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Term Editor</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div id="header">
      <p>
          <a href="/" >Anwesenheit</a>
			</p>
    </div>
    <form action="edit-term-processing" method="post">
<p>
    <input type="text" size="50" name="name" value="{{ term1["name"] }}" required>
</p>
<p>
  <input type="date" size="50" name="date" value="{{ term1["date"] }}" required>
</p>
<p>
    <input type="text" size="50" name="author" value="{{ term1["author"] }}" required>
</p>
<p>
    <textarea name="content" rows="8" cols="71" required>{{ term1["content"] }}</textarea>
</p>
<p>
    <input type="submit"></input>
</p>
    </form>

    <footer>
      <p>Contact information: <a href="https://github.com/Jugendhackt/VKS">Github</a></p>
		  <p>License: <a href="https://github.com/Jugendhackt/VKS/blob/master/LICENSE">GNU Affero General Public License v3.0</a></p>
	  </footer>
  </body>
</html>
