<!DOCTYPE html>
<html lang="de" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Termin Editor</title>
    <link href="/static/style.css" rel="stylesheet">
  </head>
  <body>
		<div id="header">
            <p>
                <a href="/" >Anwesendheit</a>
            </p>
		</div>
<form action="term-editor-processing" method="post">
<p>
    <input type="text" size="50" name="name" placeholder="Titel" required>
</p>
<p>
  <input type="date" size="50" name="date" required>
</p>
<p>
    <input type="text" size="50" name="author" placeholder="Autor*in" required>
</p>
<p>
    <textarea name="content" rows="8" cols="71" placeholder="Ihnalt" required></textarea>
</p>
<p>
    <input type="submit">
</p>
</form>
  <footer>
  	<p>Contact information: <a href="https://github.com/Jugendhackt/VKS">Github</a></p>
		<p>License: <a href="">GNU Affero General Public License v3.0</a>https://github.com/Jugendhackt/VKS/blob/master/LICENSE</p>
	</footer>
  </body>
</html>
