<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Term Editor</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="static/favicon.ico">
  </head>
  <body>
    <div id="header">
      <p>
          <a href="/" >Presence</a>
			</p>
    </div>
    <form action="edit-term-processing" method="post">
<p>
    <input type="text" size="50" name="name" value="{{ term["name"] }}" autofocus required>
</p>
<p>
  <input type="date" size="50" name="date" value="{{ term["date"] }}" required>
</p>
<p>
    <input type="text" size="50" name="author" value="{{ term["author"] }}" required>
</p>
<p>
    <textarea name="content" rows="8" cols="71" required>{{ term["content"] }}</textarea>
</p>
<p>
    <input type="submit"></input>
</p>
    </form>

    <footer>
      <p>Contact information: <a href="https://github.com/Jugendhackt/VKS">Github</a></p>
		  <p>License: <a href="https://github.com/Jugendhackt/VKS/blob/master/LICENSE">GNU Affero General Public License v3.0</a></p>
	  </footer>
  </body>
</html>
