<!DOCTYPE html>
<html lang="de" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Termine</title>
    <link href="/static/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="header">
        <p>
            <a href="/" >Anwesenheit</a>
				</p>
    </div>
{% for termin in kalender %}
<div class="grid-container">
    <div id="term_name">
      <p>
        {{ termin['name'] }}
      </p>
    </div>
    <div id="term_date">
      <p>
        {{ termin['date'] }}
      </p>
    </div>
    <div id="term_desc">
      <p>
        {{ termin['content'] }}
      </p>
    </div>
    <p>
    </p>
</div>
{% endfor %}
    <footer>
      <p>Create own term: <a href="/term-editor">Editor</a></p>
  	  <p>Contact information: <a href="https://github.com/Jugendhackt/VKS">Github</a></p>
		  <p>License: <a href="https://github.com/Jugendhackt/VKS/blob/master/LICENSE">GNU Affero General Public License v3.0</a></p>
	  </footer>
  </body>
</html>
