<!DOCTYPE html>
<html lang="de" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mitteilungen</title>
    <link href="/static/style.css" rel="stylesheet"></link>
  </head>
  <body>
    <div id="header">
            <p>
                <a href="/" >Anwesenheit</a>
						</p>
		</div>
    <table>
    <tr>
      <th>Name</th>
      <th>Datum</th>
      <th>Zeit</th>
      <th>Autor</th>
      <th>Ihnalt</th>
    <tr>

    {% for entry in einträge %}
            <tr>
                <td>{{ entry['name'] }}</td>
                <td>{{ entry['date'] }}</td>
                <td>{{ entry['time'] }}</td>
                <td>{{ entry['author'] }}</td>
                <td>{{ entry['content'] }}</td>
            </tr>
		 {% endfor %}
    <footer class="footer-higher">
      <p>Create own Entry: <a href="/entry-create" >Editor</a>
  	  <p>Contact information: <a href="https://github.com/Jugendhackt/VKS">Github</a></p>
		  <p>License: <a href="https://github.com/Jugendhackt/VKS/blob/master/LICENSE">GNU Affero General Public License v3.0</a></p>
	  </footer>

  </body>
</html>
