<!DOCTYPE html>
<html lang="de">
  <head>
    <meta name="overview" charset="utf-8">
    <title>Übersicht</title>
    <link href="/static/style.css" rel="stylesheet"></link>
  </head>
  <body>
		<div id="header">
      <p>
          <a href="/" >Anwesendheit</a>
      </p>
		</div>

    <p>
      <a href="/overview-9B" class="button"> 9B  </a>
      <div class="button">  </div>
    </p>
  <footer>
  	<p>Contact information: <a href="https://github.com/Jugendhackt/VKS">Github</a></p>
		<p>License: <a href="">GNU Affero General Public License v3.0</a>https://github.com/Jugendhackt/VKS/blob/master/LICENSE</p>
	</footer>
  </body>
</html>
