<html>
	<head>
		<meta charset="utf-8">
		<link href="static/style.css" rel="stylesheet">
	</head>
	<body>

		<div id="header">
            <p>
                <a href="/" >Anwesenheit</a>
            </p>
		</div>

		<div class="button"> Kurse </div>
		<div class="button"> Termine </div>
		<div class="button"> Roadmap </div>
		<a href="/jahrgaenge-uebersicht" class="button" > Jahrgänge </a>
    <a href="/lehrer" class="button" >Lehrer*innen Ansicht</a>
		<a href="/sek" class="button" >Liste für das Seki</a>
  <footer>
  	<p>Contact information: <a href="https://github.com/Jugendhackt/VKS">Github</a></p>
		<p>License: <a href="https://github.com/Jugendhackt/VKS/blob/master/LICENSE">GNU Affero General Public License v3.0</a></p>
	</footer>
	</body>
</html>
