/*#627c83= submenu
#738e96= standard background
#9ebaa0= choosen
#aa9d88= Hints */
html {
	position: relative;
	min-height: 100%;
	text-decoration: none;
}
div {
	text-decoration: none;
}
#header {
	background-color:#627c83;
	color:white;
	text-align:center;
	font-size:2.5vw;
	border-top-style:solid;
	border-bottom-style:solid;
	margin-bottom:0px;
	margin-top:8px;
	border-bottom-width:3px;
	border-top-width:3px;
	text-decoration: none;
}
#term_name {
	background-color:#9ebaa0;
	color:white;text-align:center;
	font-size:1.3em;
	border-top-style:solid;
	border-bottom-style:solid;
	display: inline-block;
}

#term_date {
	background-color:#9ebaa0;
	color:white;text-align:center;
	font-size: 75%;
	border-top-style:solid;
	border-bottom-style:solid;
	display: inline-block;
}

#term_desc {
	background-color:#adc5af;
	color:white;
	text-align:center;
	border-top-style:solid;
	border-bottom-style:solid;
	display: inline-block;
}

.button {
	background-color:#9ebaa0;
	color:white;
	text-decoration: none;
	text-align:center;
	font-size:2vw;
	border-top-style:solid;
	border-bottom-style:solid;
	margin-bottom:0px;
	margin-top:0.3vw;
	border-bottom-width:0.3vw;
	border-top-width: 0.2vw;
	display: inline-block;
	width: 49vw;
}

.button:visited	{
	color: white;
  text-decoration:none;
}

.button:hover	{
	background-color:#738e96;
	color: white;
	text-decoration: none;
}

a {
	color: white;
	text-decoration: none;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	background-color:#9ebaa0;
	color:white;
	font-size:0.8vw;
	width: 100vw;
	overflow: hidden;
	text-decoration:none;
}

table, th, td
{
	    border: 0.3vw solid rgb(62%, 73%, 69%);
			font-size: 1vw:

}

.grid-container {
	display: grid;
	grid-template-columns: 4;
}
