<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"  author="CByte"></meta>
        <link href="/static/style.css" rel="stylesheet"></link>
    <title>Test</title>
  </head>
  <body>
		<div id="header">
            <p>
                <a href="/" >Anwesendheit</a>
            </p>
		</div>
    <p>
      <table class="one wrapper">
	<tr>
		<th>Name</th>
		<th>Status</th>
	</tr>
{% for schueler in liste %}
            <tr>
                <td>{{ schueler['name'] }}</td>
                <td>{{ schueler['status'] }}</td>
            </tr>
{% endfor %}
       </table>
    </p>
   </body>
</html>
