<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"  author="CByte"></meta>
        <link href="stylesheet5.css" rel="stylesheet"></link>
    <title>Test</title>
  </head>
  <body>
    <p>
      <table class="one wrapper">
	<tr>
		<th>Name</th>
		<th>Status</th>
	</tr>
{% for schueler in liste %}
            <tr>
                <td>{{ schueler['name'] }}</td>
                <td> <input type="checkbox"{% if schueler["status"] == "anwesend"%}
						checked
					{% endif %}>
						
			</input>anwesend</td>
            </tr>
{% endfor %}
       </table>
    </p>
   </body>
</html>
