<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"  author="CByte"></meta>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet5.1.css') }}">-->
        <link href="/static/style.css" rel="stylesheet"></link>
    <title>Test</title>
  </head>
  <body>
		<div id="header">
            <p>
                <a href="/" >Anwesendheit</a>
            </p>
		</div>
    <p>
      <table class="one wrapper">
	<tr>
		<th>Name</th>
		<th>aktueller Status</th>
		<th>Status ändern</th>
	</tr>
<form action="change_state" method="post">
{% for schueler in liste %}
            <tr>
                <td>{{ schueler['name'] }}</td>
                <td>{{ schueler['status'] }}</td>
		<td><input type="checkbox" name="{{ schueler['name'] }}" {% if schueler['status'] == "anwesend"%}
                                                checked
                                        {% endif %}>
		</td>
            </tr>
{% endfor %}

       </table>
<input type="submit" name="send" value="Senden"></input>
</form>
    </p>
   </body>
</html>
