<title>VKS - C-Recode</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href="static/custom-style.css">

<div class="card" style="width: 18rem;">
  <img class="card-img-top img-responsive" src="{{ user.avatar(256) }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ user.username }}</h5>
    {% if user.description == None %}
    {% else %}
    <p class="card-text">{{ user.description }}</p>
    {% endif %}
  </div>
  <ul class="list-group list-group-flush">
    {% if user.level == "teacher" %}
      <li class="list-group-item">Teacher
        {% if user.class == "None" %}
        {% else %}
         of class {{ user.class }}
        {% endif %}
      </li>
    {% elif user.level == "pupil" %}
    <li class="list-group-item">Klasse {{ user.class }}</li>
    {% elif user.level == "secretary" %}
    <li class="list-group-item">Secretary</li>
    {% elif user.level == "headmaster" %}
    <li class="list-group-item">Headmaster</li>
    {% else %}
    <li class="list-group-item">{{ user.level_specific }}</li>
    {% endif %}
    <li class="list-group-item">{{ user.last_name }}, {{ user.first_name }}</li>
    <li class="list-group-item">Zuletzt online: {{ user.last_seen }}</li>
  </ul>
</div>
